<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item (click)="goToDeatil()">
      <ion-label>Pokémon Yellow</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Mega Man X</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>The Legend of Zelda</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pac-Man</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Super Mario World</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pokémon Yellow</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Mega Man X</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>The Legend of Zelda</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pac-Man</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Super Mario World</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pokémon Yellow</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Mega Man X</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>The Legend of Zelda</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pac-Man</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Super Mario World</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pokémon Yellow</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Mega Man X</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>The Legend of Zelda</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pac-Man</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Super Mario World</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pokémon Yellow</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Mega Man X</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>The Legend of Zelda</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pac-Man</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Super Mario World</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pokémon Yellow</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Mega Man X</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>The Legend of Zelda</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pac-Man</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Super Mario World</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pokémon Yellow</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Mega Man X</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>The Legend of Zelda</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Pac-Man</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
    <ion-item (click)="goToDeatil()">
      <ion-label>Super Mario World</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
